#oixs-svg {
	position: absolute !important;
	top: 200px;
	left: 300px;
	transform-origin: 50%;
	transform: rotate(-90deg);
	z-index: 400000;
}

#oixs-svg path {
	filter: drop-shadow(0 0 2px #30303050);
}

#oixs-label {
	position: absolute !important;
	top: 200px;
	left: 300px;
	color: #000;
	z-index: 400001;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-family: sans-serif;
	text-shadow: 0 0 5px #fff;
}
