:root {
	--bg-color: #fff;
	--bg-color-dark: #f2f2f2;
	--fg-color: #333;
	--text-button-fg-color: #666;
	--button-bg-color: #ccc;
	--button-bg-color-hover: #f00;
	--button-fg-color: #fff;
}

body {
	background: var(--bg-color-dark);
	width: 320px;
	font-family: sans-serif;
	color: var(--fg-color);
}

h2 {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

h2 span {
	margin-left: 5px;
}

h2::after {
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	background: var(--fg-color);
	margin: 5px 0;
}

#no-pending-links {
	padding: 18px 0;
	display: block;
	width: 100%;
	text-align: center;
	background: var(--bg-color);
	border-radius: 8px;
}

.pending-link-item {
	background: var(--bg-color);
	margin: 5px 0;
	display: flex;
	padding: 2px 0;
	border-radius: 3px;
}

.pending-link-address {
	flex: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	align-self: center;
	margin-left: 5px;
}

.pending-link-timer {
	font-weight: bold;
	align-self: center;
}

.pending-link-cancel {
	margin: 0 5px;
	background: var(--button-bg-color);
	width: 20px;
	height: 20px;
	min-width: 20px;
	border-radius: 50%;
	position: relative;
	transform: rotate(45deg);
	cursor: pointer;
}

.pending-link-cancel::before {
	content: '';
	position: absolute;
	top: 45%;
	left: 25%;
	width: 50%;
	height: 10%;
	background: var(--button-fg-color);
}

.pending-link-cancel::after {
	content: '';
	position: absolute;
	top: 25%;
	left: 45%;
	width: 10%;
	height: 50%;
	background: var(--button-fg-color);
}

.pending-link-cancel:hover {
	background: var(--button-bg-color-hover);
}

#text-buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 6px;
}

#text-buttons span {
	font-size: 12px;
	color: var(--text-button-fg-color);
	margin-left: 5px;
}

#text-buttons span:hover {
	color: var(--fg-color);
	cursor: pointer;
	text-decoration: underline;	
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #2b2c35;
		--bg-color-dark: #23222b;
		--fg-color: #c5c5c9;
		--text-button-fg-color: #666;
		--button-bg-color: #999;
		--button-bg-color-hover: #ff8080;
		--button-fg-color: #fafafa;
	}
}
