:root {
	--bg-color: #fff;
	--text-color: #15141a;
}

body {
	font-family: sans-serif;
	font-size: 14px;
	background: var(--bg-color);
	color: var(--text-color);
	width: 300px;
	height: 100%;
	margin: 8px auto;
}

.form-row {
	width: 100%;
	margin: 5px 0;
}

.form-row label {
	display: inline-block;
	width: 50%;
}

.form-row input {
	width: 70px;
}

.radio-group {
	display: flex
}

.radio-group input, .radio-group label {
	/*display: inline;*/
	width: auto;
	margin: 4px;
}

#right {
	margin-left: 15px;
}

button {
	width: 50%;
	margin: 5px;
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #23222b ;
		--text-color: #fbfbfe;
	}
}
